@using Dealer.Core;
@if(WebsiteUpdater.UpdatesAvailable){
<div id="UpdatePanel">
    <h3>A new version of the website is available. Please click @Html.ActionLink("Update", "Update", "Home") to upgrade the website.</h3>
</div>
}